<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">NASA API Integrated Website</p>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/nasa-apod" class="nav-link px-2 text-body-secondary">NASA APOD</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9M8ocQ69oFNo5TftFUVq0gxo2n5yVZ5G6G4Xy5y4jjslM0jF+77" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-wE6Fk1F0T6kJmK6ibJ3BDJmQZyK/5qJFehmSRnV4r4niOC5ONo4/JcymzK1bR+nX1" crossorigin="anonymous"></script>

</body>
</html>