<%- include('partials/header') %>
<main>
    <div class="home-body">
        <h1>Welcome to Space Explorer</h1>
        <p>Click the button below to explore NASA's Astronomy Picture of the Day (APOD).</p>
        <a href="/nasa-apod" class="btn btn-primary">See NASA's APOD</a>
        <div class="home-container">
            <div class="home-img">
                <img src="/images/nebula.jpg" alt="nebula" height="300px" class="img-h">
            </div>
            <div class="home-img">
                <img src="/images/planet.jpg" alt="nebula" height="300px" class="img-h">
            </div>
            <div class="home-img">
                <img src="/images/nebula1.jpg" alt="nebula" height="300px" class="img-h">
            </div>
        </div>
    </div>


</main>
<%- include('partials/footer') %>
